.card {
  --spacing-default: var(--spacing-l);

  max-width: var(--grid-container-width);
  margin: 2rem auto 0;
  padding-inline: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;

  overflow: visible;
}

.card > div {
  width: 100%;
}

.card .card-inner {
  background: #111;
  border: 1px solid #222;
  border-radius: 12px;
  padding: 24px;

  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 320px;

  transition: all 0.25s ease-in-out;
}

.card .card-inner:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
}

.card .card-inner h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--color-purple-500);
}

.card .card-inner p {
  margin-bottom: 1rem;
}

.card .card-inner p:last-child {
  margin-top: auto;
}

.card .card-inner a {
  font-weight: 600;
  text-decoration: none;
}

.card .card-inner a:hover {
  text-decoration: underline;
}
